@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --fonte01: "Caveat", cursive;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #150B09;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

header img {
    width: 200px;
    height: 200px;
}

header a {
    color: white;
    padding: 10px;
    font-family: var(--fonte01);
}

.direita {
    text-align: right;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hero {
    height: 100vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}